<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <div class="line-back-1"></div>
        <div class="line-back-2"></div>
        <div class="line-back-3"></div>

        <img src="/assets/images/postCo.png" alt="PostCo logo" class="logo">

        <form class="content" method="post" action="/login">
            <h1 class="main-title">Login Page</h1>

            <h3 id="full-name">Full Name:<input type="text" name="f_name" required></h3>
            
            <h3 id="icNum">I/C Number:<input type="text" name="icNo" required></h3>

            <button type="submit" class="login-btn">Login</button>
            
            <h5>Don't have an account yet? <a href="/register-page">Register</a></h5>
        </form>

    </body>
</html>